@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Deep purple - #120734 */
        --background: hsl(256, 79%, 4%);

        /* White - #ffffff */
        --foreground: 0, 0%, 100%;

        /*light purple - #3433b0 */
        --primary: 240, 55%, 45%;

        /* dark purple - #381877 */
        --primary-dark: 260, 66%, 28%;

        /* Deep purple - #120734 */
        --secondary: 256, 79%, 6%;

        /* Deeper purple(light) - #182346 */
        --tertiary: 226, 49%, 18%;

        /* Deeper purple (deep)- #121b38 */
        --tertiary-dark: 226, 51%, 15%;


        /* accent-light - #8f4793 */
        --accent: 297, 35%, 43%;

        /*accent-dark #76276b*/
        --accent-dark: 308, 50%, 31%;
    }
}